{% load static %}
<html>
  <head>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    {% block css %}{% endblock %}
  </head>
  <body>
    <div>
      <a href="/person">사람 관리!</a>
      <a href="/todo">할일 관리!</a>
      <a href="/calendar">일정 관리!</a>
      <a href="/bookkeep">자산 관리!</a>
    </div>
    {% block top_menu %}{% endblock %}
    {% block body %}{% endblock %}
    {% block prevscript %}{% endblock %}
  </body>
</html>
