{% extends 'bookkeep/base.html' %} 
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'todo/index.css' %}">
<!-- TUI Calender -->
<link rel="stylesheet" type="text/css" href="{% static 'main_cal/css/tui-calendar.min.css' %}" />
<!-- If you use the default popups, use this. -->
<link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
<link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css" />
{% comment %} <link rel="stylesheet" type="text/css" href="/resources/js/calendar/tui-calendar/examples/css/icons.css" /> {% endcomment %}
<!-- TUI JS -->
<script src="https://uicdn.toast.com/tui.code-snippet/latest/tui-code-snippet.js"></script>
<script src="https://uicdn.toast.com/tui.time-picker/v1.6.1/tui-time-picker.min.js"></script>
<script src="https://uicdn.toast.com/tui.date-picker/v3.3.4/tui-date-picker.min.js"></script>
<script src="{% static 'main_cal/js/tui-calendar.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chance/1.0.13/chance.min.js"></script>
{% endblock %}

{% block body %}
{% include 'bookkeep/form_account.html' %}
<form autocomplete="off" class="m-3" method="POST" action="{% url 'bookkeep:add_installment' %}">
    {% csrf_token %}
    <div class="row">
        <div class="col">
            <label for="installment_form_title">용도</label>
            <input type="text" name="title" class="form-control" id="installment_form_title">
        </div>
        <div class="col">
            <label for="installment_form_balance">금액</label>
            <input type="text" name="balance" class="form-control" id="installment_form_balance">
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <label>구좌</label></br>
            {% if accounts %}
                {% for a in accounts %}
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="account" id="account_{{ a.id }}" value="{{ a.title }}">
                    <label class="form-check-label" for="account_{{ a.id }}">{{ a.title }}</label>
                    <a href="{% url 'bookkeep:delete_account' a.id %}" class="btn btn-danger btn-sm">X</a>
                </div> 
                {% endfor %}
            {% else %}구좌 없음{% endif %}</br>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="installment_form_rate">이자율</label>
            <input type="text" name="interest_rate" class="form-control" id="installment_form_rate">
        </div>
        <div class="col">
            <label for="installment_form_repayment_method">이자상환 방식</label>
            <input type="text" name="repayment_method" class="form-control" id="installment_form_repayment_method">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="installment_form_reimbursed_month">상환 개월 수</label>
            <input type="text" name="reimbursed_month" class="form-control" id="installment_form_reimbursed_month">
        </div>
        <div class="col">
            <label for="installment_form_start_date">결제일</label>
            <input type="text" name="start_date" class="form-control" id="installment_form_start_date">
        </div>
    </div>
    <input type="submit" value="추가" class="btn btn-primary w-100 mt-3">
</form>
<ul>
{% for i in installment %}
    <li>
        <a href="{% url 'bookkeep:edit_installment' i.id %}">{{ i.title }}</a>
        <a href="{% url 'bookkeep:recal_installment' i.id %}" class="btn btn-sm btn-success">갱신</a>
        <a href="{% url 'bookkeep:delete_installment' i.id %}" class="btn btn-sm btn-danger">삭제</a>
    </li>
    {% if i %}
        <ul>
        {% for p in i.get_paynodes %}
            <li>
                {{ p.paydate }} {{ p.title }} {{ p.balance }}
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% endfor %}
</ul>
{% endblock %}

{% block prevscript %}
{% endblock %}