{% extends 'base.html' %} 
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'todo/index.css' %}">
{% endblock %}

{% block body %} 
<h1>관계의 리스트</h1>

<div>
    <form method="POST" action="{% url 'person:add_name' %}">
        {% csrf_token %}
        이름: <input type="text" name="name">
        <input type="submit" value="이름 추가">
    </form>
</div>

<div class="d-flex flex-row">
    <div class="flex-item">
        만난것 기준
        <ul>
        {% for p in meets %}
            <li>
                {% if p.last_meet %}{{ p.get_last_meet_date }}{% endif %} {{ p.name }} 
                <a href="{% url 'person:meet_update_person' p.id %}" class="btn btn-sm btn-secondary">만남</a>
                <a href="{% url 'person:communicate_update_person' p.id %}" class="btn btn-sm btn-secondary">연락</a>
            </li>
        {% endfor %}
        </ul>   
    </div>
    <div class="flex-item">
        연락한 것 기준
        <ul>
        {% for p in comus %}     
            <li>
                {% if p.last_communicate %}{{ p.get_last_communicate_date }}{% endif %} {{ p.name }} 
                <a href="{% url 'person:meet_update_person' p.id %}" class="btn btn-sm btn-secondary">만남</a>
                <a href="{% url 'person:communicate_update_person' p.id %}" class="btn btn-sm btn-secondary">연락</a>
            </li>
        {% endfor %}
        </ul>   
    </div>
</div>
{% endblock %}
