{% extends 'base.html' %} 
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'todo/index.css' %}">
<!-- TUI Calender -->
<link rel="stylesheet" type="text/css" href="{% static 'main_cal/css/tui-calendar.min.css' %}" />
<!-- If you use the default popups, use this. -->
<link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
<link rel="stylesheet" type="text/css" href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css" />
{% comment %} <link rel="stylesheet" type="text/css" href="/resources/js/calendar/tui-calendar/examples/css/icons.css" /> {% endcomment %}
<!-- TUI JS -->
<script src="https://uicdn.toast.com/tui.code-snippet/latest/tui-code-snippet.js"></script>
<script src="https://uicdn.toast.com/tui.time-picker/v1.6.1/tui-time-picker.min.js"></script>
<script src="https://uicdn.toast.com/tui.date-picker/v3.3.4/tui-date-picker.min.js"></script>
<script src="{% static 'main_cal/js/tui-calendar.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chance/1.0.13/chance.min.js"></script>
{% endblock %}

{% block body %} 
<div class="d-flex flex-row">
    <div class="flex-item">
        <div id="menu">
            <span id="menu-navi">
            <button type="button" class="btn btn-secondary btn-sm move-today" data-action="move-today">Today</button>
            <button type="button" class="btn btn-secondary btn-sm rounded-circle move-day p-1" data-action="move-prev">
                {% comment %} <i class="calendar-icon ic-arrow-line-left" data-action="move-prev"></i> {% endcomment %}
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16"  data-action="move-prev">
                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                </svg>
            </button>
            <button type="button" class="btn btn-secondary btn-sm rounded-circle move-day p-1" data-action="move-next">
                {% comment %} <i class="calendar-icon ic-arrow-line-right" data-action="move-next"></i> {% endcomment %}
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16" data-action="move-next">
                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                </svg>
            </button>
            </span>
            <span id="renderRange" class="render-range"></span>
        </div>
        <div id="calendar"></div>
    </div>

    <div class="flex-item">
        <h1>{% if parent %}{{ parent.get_parents_link|safe }}{{ parent.name }}{% else %}할일의 리스트{% endif %}</h1>
        <button id="complete_display_toggle">완료한일 가리기</button></br>
        <div>
        <button class="add_todo" name="{{ t.id }}">하위 할일 추가</button>
        <form class="add_todo_form d-inline-block" method="POST" action="{% url 'todo:add_lower_todo' %}">
            {% csrf_token %}
            <input type="text" name="name" />
                {% if parent %}
                <input type="hidden" name="tid" value="{{ parent.id }}">
                {% endif %}
            <input class="add_todo_submit" type="submit" value="항목 추가" />
        </form>
        </div>

        {% include "todo/todos.html" with todos=todos %}
    </div>
</div>
{% endblock %}

{% block prevscript %}
<script>
    $('.delete_todo').click(function() {
        var tid = $(this).attr('name')
        var li = $(this).parent().parent()
        $.ajax({
            type: "POST",
            url: "{% url 'todo:delete_todo' %}",
            data: {
                'tid': tid,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            dataType: "json",
            success: function(response){
                if (li.siblings().length == 0)
                {
                    li.parent().remove()
                }
                else
                {
                    li.remove();
                }
            },
            error: function (request, status, error) {
                alert(request);
                alert(status);
                alert(error);
            }
        })
    })

    $('.complete_button').click(function (){
        var button = $(this);
        var tid = $(this).attr('name');

        $.ajax({
            type: "POST",
            url: "{% url 'todo:complete_todo' %}",
            data: {
                'tid': tid,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            dataType: "json",
            success: function(response){
                if (response.complete)
                {
                    button.html('<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16"> \
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/> \
                    <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/> \
                </svg>');
                    button.next().css({"color":"gray", "text-decoration":"line-through"});
                    button.next().addClass('complete')
                    button.next().removeClass('incomplete')
                    if ($('#complete_display_toggle').html() == '완료한일 보이기')
                    {
                        button.next().parent().hide()
                    }
                }
                else 
                {
                    button.html('<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-circle" viewBox="0 0 16 16">\
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>\
            </svg>');
                    button.next().css({"color":"black", "text-decoration":"none"});
                    button.next().addClass('incomplete')
                    button.next().removeClass('complete')
                }
            },
            error: function (request, status, error) {
                alert(request);
                alert(status);
                alert(error);
            }
        })
    });

    $('.add_todo').click(function () {
        $(this).next().show();
    })

    function toggle_show_todo_complete() {
        var show_todo_complete = true;
        if ($('#complete_display_toggle').html() == '완료한일 가리기')
        {
            $('#complete_display_toggle').html('완료한일 보이기')
            $('.complete').parent().hide()
            show_todo_complete = false;
        }
        else
        {
            $('#complete_display_toggle').html('완료한일 가리기')
            $('.complete').parent().show()
        }
        
        return show_todo_complete
    }

    $('#complete_display_toggle').click(function() {
        var show_todo_complete = toggle_show_todo_complete();

        $.ajax({
            type: "POST",
            url: "{% url 'config:ajax_show_todo_complete' %}",
            data: {
                'show_todo_complete': show_todo_complete,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            dataType: "json",
            success: function(response) {
                alert(response)
            }
        })
    })

    {% if not config.show_todo_complete %}
    $(document).ready(function() {
        toggle_show_todo_complete();
    })
    {% endif %}

    {% comment %} $('.add_todo_submit').click(function (){
        var button = $(this);
        var form = $(this).parent();
        var text = $(this).prev();
        var tid = text.prev();

        if (text.val().length > 0) {
            $.ajax({
                type: "POST",
                url: "{% url 'todo:add_todo' %}",
                data: {
                    'tid': tid.val(),
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'name': text.val()
                },
                dataType: "json",
                success: function(response) {
                }
            })
        }
    }) {% endcomment %}

    var templates = {

    }

    var cal = new tui.Calendar('#calendar', {
        defaultView: 'day', // daily view option
        useCreationPopup: true,
        useDetailPopup: true,
        calendars: CalendarList, 
        template: templates,
    });

    cal.on({
        'clickMore': function(e) {
            console.log('clickMore', e);
        },
        'clickSchedule': function(e) {
            console.log('clickSchedule', e);
        },
        'clickDayname': function(date) {
            console.log('clickDayname', date);
        },
        'beforeCreateSchedule': function(e) {
            console.log('beforeCreateSchedule', e);
            saveNewSchedule(e);
        },
        'beforeUpdateSchedule': function(e) {
            var schedule = e.schedule;
            var changes = e.changes;

            var end_date = null;
            var start_date = null;

            var data = {}

            if (changes.end)
                data['end_date'] = changes.end._date
            if (changes.start)
                data['start_date'] = changes.start._date
            data['csrfmiddlewaretoken'] = '{{ csrf_token }}'
            data['schedule_id'] = schedule.id

            console.log('beforeUpdateSchedule', e);
            $.ajax({
                type: "POST",
                url: "{% url 'calendar:ajax_edit_schedule' %}",
                data: data,
                dataType: "json",
                success: function(response) {
                    alert(response)
                }
            })

            if (changes && !changes.isAllDay && schedule.category === 'allday') {
                changes.category = 'time';
            }

            cal.updateSchedule(schedule.id, schedule.calendarId, changes);
            refreshScheduleVisibility();
        },
        'beforeDeleteSchedule': function(e) {
            console.log('beforeDeleteSchedule', e);
            cal.deleteSchedule(e.schedule.id, e.schedule.calendarId);
        },
        'afterRenderSchedule': function(e) {
            var schedule = e.schedule;
            // var element = cal.getElement(schedule.id, schedule.calendarId);
            // console.log('afterRenderSchedule', element);
        },
        'clickTimezonesCollapseBtn': function(timezonesCollapsed) {
            console.log('timezonesCollapsed', timezonesCollapsed);

            if (timezonesCollapsed) {
                cal.setTheme({
                    'week.daygridLeft.width': '77px',
                    'week.timegridLeft.width': '77px'
                });
            } else {
                cal.setTheme({
                    'week.daygridLeft.width': '60px',
                    'week.timegridLeft.width': '60px'
                });
            }

            return true;
        }
    })

    function CalendarInfo() {
        this.id = null;
        this.name = null;
        this.checked = true;
        this.color = null;
        this.bgColor = null;
        this.borderColor = null;
        this.dragBgColor = null;
    }

    var CalendarList = [];
    var c = new CalendarInfo();
    {% for c in calendar %}
    var id = 1;
    c.id = '{{ c.id }}';
    c.name = '{{ c.title}}';
    c.color = '#ffffff';
    c.bgColor = '{{ c.color }}';
    c.dragBgColor = '{{ c.color }}';
    c.borderColor = '{{ c.color }}';
    CalendarList.push(c);
    {% endfor %}

    function findCalendar(id) {
        var found;

        CalendarList.forEach(function(calendar) {
            if (calendar.id === id) {
                found = calendar;
            }
        });

        return found || CalendarList[0];
    }

    function getDataAction(target) {
        return target.dataset ? target.dataset.action : target.getAttribute('data-action');
    }

    function onClickNavi(e) {
        var action = getDataAction(e.target);

        switch (action) {
            case 'move-prev':
                cal.prev();
                break;
            case 'move-next':
                cal.next();
                break;
            case 'move-today':
                cal.today();
                break;
            default:
                return;
        }

        setRenderRangeText();
    }

    function setEventListener() {
        {% comment %} $('.dropdown-menu a[role="menuitem"]').on('click', onClickMenu); {% endcomment %}
        $('#menu-navi').on('click', onClickNavi);
        {% comment %} window.addEventListener('resize', resizeThrottled); {% endcomment %}
    }    

    function onNewSchedule() {
        var title = $('#new-schedule-title').val();
        var location = $('#new-schedule-location').val();
        var isAllDay = document.getElementById('new-schedule-allday').checked;
        var start = datePicker.getStartDate();
        var end = datePicker.getEndDate();
        var calendar = selectedCalendar ? selectedCalendar : CalendarList[0];

        if (!title) {
            return;
        }

        cal.createSchedules([{
            id: String(chance.guid()),
            calendarId: calendar.id,
            title: title,
            isAllDay: isAllDay,
            start: start,
            end: end,
            category: isAllDay ? 'allday' : 'time',
            dueDateClass: '',
            color: calendar.color,
            bgColor: calendar.bgColor,
            dragBgColor: calendar.bgColor,
            borderColor: calendar.borderColor,
            raw: {
                location: location
            },
            state: 'Busy'
        }]);

        $('#modal-new-schedule').modal('hide');
    }

    function saveNewSchedule(scheduleData) {
        var calendar = scheduleData.calendar || findCalendar(scheduleData.calendarId);
        var schedule = {
            id: String(chance.guid()),
            title: scheduleData.title,
            isAllDay: scheduleData.isAllDay,
            start: scheduleData.start,
            end: scheduleData.end,
            category: scheduleData.isAllDay ? 'allday' : 'time',
            dueDateClass: '',
            color: calendar.color,
            bgColor: calendar.bgColor,
            dragBgColor: calendar.bgColor,
            borderColor: calendar.borderColor,
            location: scheduleData.location,
            raw: {
                class: scheduleData.raw['class']
            },
            state: scheduleData.state
        };
        if (calendar) {
            schedule.calendarId = calendar.id;
            schedule.color = calendar.color;
            schedule.bgColor = calendar.bgColor;
            schedule.borderColor = calendar.borderColor;
        }

        cal.createSchedules([schedule]);

        refreshScheduleVisibility();
    }

    function refreshScheduleVisibility() {
        var calendarElements = Array.prototype.slice.call(document.querySelectorAll('#calendarList input'));

        CalendarList.forEach(function(calendar) {
            cal.toggleSchedules(calendar.id, !calendar.checked, false);
        });

        cal.render(true);

        calendarElements.forEach(function(input) {
            var span = input.nextElementSibling;
            span.style.backgroundColor = input.checked ? span.style.borderColor : 'transparent';
        });
    }

    {% for s in schedules %}
    cal.createSchedules([{
        id: '{{ s.id }}',
        calendarId: '{{ s.calendar.id}}',
        title: '{{ s.title }}',
        isAllDay: '{{ s.isAllDay }}',
        start: '{{ s.get_start_date }}',
        end: '{{ s.get_end_date }}',
        category: '{{ s.category }}',
        dueDateClass: '',
        color: '{{ s.calendar.color.color }}',
        bgColor: '{{ s.calendar.color.bg_color }}',
        dragBgColor: '{{ s.calendar.color.bg_color }}',
        borderColor: '{{ s.calendar.color.border_color }}',
        raw: {
            location: location
        },
        state: 'Busy'
    }]);
    {% endfor %}

    function setRenderRangeText() {
        var renderRange = document.getElementById('renderRange');
        var options = cal.getOptions();
        var viewName = cal.getViewName();
        var html = [];
        if (viewName === 'day') {
            html.push(moment(cal.getDate().getTime()).format('YYYY.MM.DD'));
        } else if (viewName === 'month' &&
            (!options.month.visibleWeeksCount || options.month.visibleWeeksCount > 4)) {
            html.push(moment(cal.getDate().getTime()).format('YYYY.MM'));
        } else {
            html.push(moment(cal.getDateRangeStart().getTime()).format('YYYY.MM.DD'));
            html.push(' ~ ');
            html.push(moment(cal.getDateRangeEnd().getTime()).format(' MM.DD'));
        }
        renderRange.innerHTML = html.join('');
    }

    function init() {
        cal.setCalendars(CalendarList);
        setRenderRangeText();
        setEventListener();
    }

    init();
</script>
{% endblock %}